.mc1
{
	background-image: url(/img/dis/utk.jpg);
}
.mc2
{
	background-image: url(/img/dis/rajat.jpg);
}
.mc3
{
	background-image: url(/img/dis/saurabh.jpg);
}
.mc4
{
	background-image: url(/img/dis/sub.jpg);
}




.mw1
{
	background-image: url(/img/dis/alok.jpg);
}
.mw2
{
	background-image: url(/img/dis/amar1.jpg);
}







.md1
{
	background-image: url(/img/dis/prateek.jpg);
}
.md2
{
	background-image: url(/img/dis/Disha.jpg);
}
.md3
{
	background-image: url(/img/dis/snehil.jpg);
}
.md4
{
	background-image: url(/img/dis/hemant.jpg);
}
.md5
{
	background-image: url(/img/dis/Vaishali.jpg);
}






.mp1
{
	background-image: url(/img/pic/director.jpg);
}
.mp2
{
	background-image: url(/img/pic/dean.jpg);
}




.m1
{
	background-image: url(/img/pic/g9.jpg);
}













.mcom1
{
	background-image: url(/img/dis/ananya.jpg);
}
.mcom2
{
	background-image: url(/img/dis/rishabh.jpg);
}
.mcom3
{
	background-image: url(/img/dis/shailja.jpg);
}
.mcom4
{
	background-image: url(/img/dis/shikha.jpg);
}
.mcom5
{
	background-image: url(/img/dis/prakhar.jpg);
}












.mdrama1
{
	background-image: url(/img/dis/sanjil.jpg);
}
.mdrama2
{
	background-image: url(/img/dis/puru.jpg);
}
.mdrama3
{
	background-image: url(/img/dis/eishwar.jpg);
}
.mdrama4
{
	background-image: url(/img/dis/jagriti.jpg);
}
.mdrama5
{
	background-image: url(/img/dis/avinash.jpg);
}
.mdrama6
{
	background-image: url(/img/dis/shilpi.jpg);
}
.mdrama7
{
	background-image: url(/img/dis/ajeta.jpg);
}












.mm1
{
	background-image: url(/img/dis/dhruv.jpg);
}
.mm2
{
	background-image: url(/img/dis/ananya2.jpg);
}
.mm3
{
	background-image: url(/img/dis/devesh.jpg);
}
.mm4
{
	background-image: url(/img/dis/sumit.jpg);
}
.mm5
{
	background-image: url(/img/dis/rajat2.jpg);
}











.mfas1
{
	background-image: url(/img/dis/karam.jpg);
}
.mfas2
{
	background-image: url(/img/dis/anuja.jpg);
}
.mfas3
{
	background-image: url(/img/dis/anany.jpg);
}









.mdes1
{
	background-image: url(/img/pic/g9.jpg);
}
.mdes2
{
	background-image: url(/img/dis/anjali.jpg);
}
.mdes3
{
	background-image: url(/img/dis/depali.jpg);
}
.mdes4
{
	background-image: url(/img/dis/pratiksha.jpg);
}
.mdes5
{
	background-image: url(/img/dis/priya.jpg);
}
.mdes6
{
	background-image: url(/img/dis/shubham.jpg);
}
.mdes7
{
	background-image: url(/img/dis/shubhamc.jpg);
}
.mdes8
{
	background-image: url(/img/dis/medhavi.jpg);
}








.mphoto1
{
	background-image: url(/img/dis/manish.jpg);
}
